@font-face {
	font-family: 'digi';
	src: url('fonts/DS-DIGI.TTF');
}

body {
  background: black;
}

#timer {
  font-family: 'digi';
  font-size: 40px;
  color: #4f4ff9;
  width: 100px;
  margin: 10px auto;
}  

#timer.looking-away {
  color: #FF0D3D;
}

p {
  margin: 5px;
  color: #CACACC;
}
